<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock head_title %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  </head>
  <body>
    <div class="container">
      {% if user.is_authenticated %}
        {% include "includes/_header.html" %}
      {% endif %}
      {% block body_content %}{% endblock body_content %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {% block java_scripts %}{% endblock java_scripts %}
  </body>
</html>
