{% extends 'base.html' %}
{% load mywallet_tags %}
{% check_customer user.id as customer %}
{% block head_title %} MyWallet {% endblock head_title %}
{% block body_content %}
	<div class="row text-center">
		<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">

			{% if users %}<h3>MyWallet Users</h3>{% endif %}
			{% if billers %}<h3>MyWallet Merchants</h3>{% endif %}
			{% if customers %}<h3>MyWallet Customers</h3>{% endif %}
			
			{% if users or billers or customers %}
				</br></br>
				<div class="row">
				  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h4>Name</h4></div>
				  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h4>Username</h4></div>
				  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h4>Email ID</h4></div>
				  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h4>Contact No.</h4></div>
				  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h4>Wallet</h4></div>
				  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h4>Staff</h4></div>
				  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h4>Active</h4></div>
				</div>
			{% endif %}
			{% if users %}
				{% for u in users %}
					{% if not u.user.is_superuser %}
					  <div class="row" id="users">
					    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.user.first_name }} {{ u.user.last_name }}</h5></div>
					    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.user.username }}</h5></div>
					    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.user.email }}</h5></div>
					    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.contact_number }}</h5></div>
					    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.wallet }}</h5></div>
					    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h5>{{ u.user.is_staff }}</h5></div>
				    	{% if u.user.is_active %}
				    		<button type="button" class="btn btn-danger deactivate" data-id="{{ u.user.id }}">Disable</button>
				    	{% else %}
				    		<button type="button" class="btn btn-primary activate" data-id="{{ u.user.id }}">Enable</button>
				    	{% endif %}
					  </div>
					{% endif %}
				{% endfor %}
				<div id="user-modal" class="modal fade" role="dialog">
			  	<div class="modal-dialog">
				    <div class="modal-content">
			  	    <div class="modal-header">
			    	    <button type="button" class="close" data-dismiss="modal">&times;</button>
			      	  <h4 class="modal-title">Enable User</h4>
			      	</div>
			      	<div class="modal-body">
								<form role="form" action="" method="post" accept-charset="utf-8" id='user_form'>
	  			    		{% csrf_token %}
				  	      <h4>Are you sure you want to activate this account ?</h4>
				    	    <div class="form-group">
							    	<label for="id"></label>
										<input id='id' class="form-control" type="hidden" name="id" value="" disabled>
									</div>
				    	    <button type="button" class="btn btn-primary" id="enable-submit">Enable</button>
			      		</form>
			      	</div>
			      	<div class="modal-footer"></div>
			    	</div>
			  	</div>
				</div>
			{% endif %}

			{% if billers %}
				{% for u in billers %}
				  <div class="row" id="billers">
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.biller.user.first_name }} {{ u.biller.user.last_name }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.biller.user.username }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.biller.user.email }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.biller.contact_number }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.biller.wallet }}</h5></div>
				    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h5>{{ u.biller.user.is_staff }}</h5></div>
				    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
				    	{% if u.biller.user.is_active %}
				    		<button type="button" class="btn btn-danger deactivate" data-id="{{ u.biller.user.id }}">Disable</button>
				    	{% else %}
				    		<button type="button" class="btn btn-primary activate" data-id="{{ u.biller.user.id }}">Enable</button>
				    	{% endif %}
				    </div>
				  </div>
				{% endfor %}

			<!-- biller modals -->
				<div id="biller-modal" class="modal fade" role="dialog">
			  	<div class="modal-dialog">
				    <div class="modal-content">
			  	    <div class="modal-header">
			    	    <button type="button" class="close" data-dismiss="modal">&times;</button>
			      	  <h4 class="modal-title">Biller</h4>
			      	</div>
			      	<div class="modal-body">
								<form role="form" action="" method="post" accept-charset="utf-8" id='biller_form'>
				      		{% csrf_token %}
				  				<div class="form-group">
								    <label for="name">Name</label>
										<input id='name' class="form-control" type="text" name="name" value="" disabled>
									</div>
				  				<div class="form-group">
								    <label for="username">Email ID</label>
										<input id='username' class="form-control" type="text" name="username" value="" disabled>
									</div>
				  				<div class="form-group">
								    <label for="email_id">Email ID</label>
										<input id='email_id' class="form-control" type="text" name="email_id" value="" disabled>
									</div>
				  				<div class="form-group">
								    <label for="contact_number">Contact Number</label>
										<input id='contact_number' class="form-control" type="text" name="contact_number" value="" disabled>
									</div>
				  				<div class="form-group">
								    <label for="commission">Commission (%)</label>
										<input id='commission' class="form-control" type="number" name="commission" value="">
									</div>
									<div class="form-group">
								    <label for="id"></label>
										<input id='id' class="form-control" type="hidden" name="id" value="" disabled>
									</div>
				        	<button type="button" class="btn btn-primary" id="biller-submit">Submit</button>
								</form>
			      	</div>
			      	<div class="modal-footer"></div>
			    	</div>
			  	</div>
				</div>

			{% endif %}
			{% if customers %}
				{% for u in customers %}
				  <div class="row">
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.customer.user.first_name }} {{ u.customer.user.last_name }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.customer.user.username }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.customer.user.email }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.customer.contact_number }}</h5></div>
				    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><h5>{{ u.customer.wallet }}</h5></div>
				    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h5>{{ u.customer.user.is_staff }}</h5></div>
				    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"><h5>{{ u.customer.user.is_active }}</h5></div>
				  </div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<div id="disable-modal" class="modal fade" role="dialog">
  	<div class="modal-dialog">
	    <div class="modal-content">
  	    <div class="modal-header">
    	    <button type="button" class="close" data-dismiss="modal">&times;</button>
      	  <h4 class="modal-title">Disable Biller</h4>
      	</div>
      	<div class="modal-body">
	        <h4>Are you sure you want to deactivate this account ?</h4>
	        <button type="button" class="btn btn-danger" name="" id="disable-submit">Disable</button>
      	</div>
      	<div class="modal-footer"></div>
    	</div>
  	</div>
	</div>



{% endblock body_content %}

{% block java_scripts %}

	<script type="text/javascript">

		$(document).ready(function(){

			$('.deactivate').click(function(event) {
				var user_id = $(this).data("id");
				console.log(user_id);
    		$('#disable-modal #disable-submit').attr('name', user_id);
				$("#disable-modal").modal({
					backdrop: 'static',
			    keyboard: true,
			    show: true
				});
			});

			$('#disable-modal #disable-submit').click(function(event) {
				var user_id = $(this).attr("name");
				$.ajax({
		      url: '/api/deactivate-account/' + user_id + '/',
	        type: 'DELETE',
	        success: function(data) {
	        	console.log(data);
			      location.reload();
			      {% if customer %}
			      	window.location = "{% url 'core:logout' %}";
				      window.location("{% url 'core:logout' %}");
			      {% endif %}
	        },
	        error: function(error) {
	          console.log(error);
			      $("#disable-modal").modal('hide');
	        }
	      });
			});


			$('#users .activate').click(function(event) {
			  $('#user_form #id').val($(this).data("id"));
				$("#user-modal").modal({
			    backdrop: 'static',
			    keyboard: true,
			    show: true
			  });
			});

			$('#enable-submit').click(function(event) {
    		var user_id = $("#user_form #id").val();
				$.ajax({
		      url: '/api/activate-wallet-admin/' + user_id + '/',
	        type: 'POST',
	        context: this,
	        success: function(data) {
	        	console.log(data);
			      location.reload();
	        },
	        error: function(error) {
	          console.log(error);
			      $("#user-modal").modal('hide');
	        }
	      });
			});


				
			$('#billers .activate').click(function(event) {
				var user_id = $(this).data("id");
				$.ajax({
		      url: '/api/biller/' + user_id,
	        type: 'GET',
	        dataType: 'json',
	        context: this,
	        success: function(data) {
	        	console.log(data);
			      $('#biller_form #name').val(data.biller.user.first_name + " " + data.biller.user.last_name);
			      $('#biller_form #email_id').val(data.biller.user.email);
			      $('#biller_form #username').val(data.biller.user.username);
			      $('#biller_form #contact_number').val(data.biller.contact_number);
			      $('#biller_form #commission').val(data.commission * 100);
			      $('#biller_form #id').val(user_id);
						$("#biller-modal").modal({
					    backdrop: 'static',
					    keyboard: true,
					    show: true
					  });
	        },
	        error: function() {
	          console.log("error");
			      $("#biller-modal").modal('hide');
	        }
	      });
			});

			$('#biller-submit').click(function(event) {
    		var data = $( "form#biller_form" ).serializeArray();
    		var user_id = $("#biller_form #id").val();
    		console.log(data);
				$.ajax({
		      url: '/api/activate-biller/' + user_id + '/',
	        type: 'POST',
          data: data,
	        dataType: 'json',
	        context: this,
	        success: function(data) {
	        	console.log(data);
			      location.reload();
	        },
	        error: function(error) {
	          console.log(error);
			      $("#biller-modal").modal('hide');
	        }
	      });
			});

		});
	</script>
{% endblock java_scripts %}
