{% extends 'base.html' %}
{% block head_title %} MyWallet {% endblock head_title %}
{% block body_content %}
	<h2 class="text-center">Welcome to MyWallet</h2>
	</br>
	{% if message %}
		<h4 class="text-center">{{ message }}</h4>
	{% endif %}
	</br>
	<div class="row">
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
			<div id='signup'>
				<h4 class='text-center'>Sign Up</h4>
				<form role="form" action="{% url 'core:main' %}" method="post" accept-charset="utf-8" id='signup_form'>
  	    	{% csrf_token %}
  				<div class="form-group">
				    <label for="first_name"></label>
						<input id='first_name' class="form-control" type="text" name="first-name" value="" placeholder="First Name / Merchant Name">
					</div>
  				<div class="form-group">
				    <label for="last_name"></label>
						<input id='last_name' class="form-control" type="text" name="last-name" value="" placeholder="Last Name / Merchant Name">
					</div>
  				<div class="form-group">
				    <label for="email"></label>
						<input id='email' class="form-control" type="email" name="email" value="" placeholder="Email ID">
					</div>
  				<div class="form-group">
				    <label for="contact_number"></label>
						<input id='contact_number' class="form-control" type="phone" name="contact_number" value="" placeholder="Mobile no.">
					</div>
  				<div class="form-group">
				    <label for="username"></label>
						<input id='username' class="form-control" type="text" name="username" value="" placeholder="Username / EmailID">
					</div>
  				<div class="form-group">
				    <label for="passcode"></label>
						<input id='passcode' class="form-control" type="password" name="password" value="" placeholder="Password">
					</div>
					<div class="form-group">
				    <label for="confirm_passcode"></label>
						<input id='confirm_passcode' class="form-control" type="password" name="confirm-passcode" value="" placeholder="Confirm Password">
					</div>
					<div class="form-group">
				    <label for="type"></label>
						<label class="radio-inline">
							<input name="type" id="biller_signin" type="radio" value="biller">Merchant
						</label>
						<label class="radio-inline">
							<input name="type" id="customer_signin" type="radio" value="customer">Customer
						</label>
						<label class="radio-inline">
							<input name="type" id="admin_signin" type="radio" value="admin" checked>Staff/Admin
						</label>
						<input id='form_type' class="form-control" type="hidden" name="form" value="signup">
					</div>
					<button type="submit" id='submit_signup' class='btn btn-danger btn-lg'>Submit</button>
				</form>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
			<h4 class='text-center'> Or </h4>
		</div>
		<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
			<div id='signin'>
				<h4 class='text-center'>Sign In</h4>
				<form role="form" action="{% url 'core:main' %}" method="post" accept-charset="utf-8" id='signin_form'>
	      	{% csrf_token %}
					<div class="form-group">
				    <label for="username"></label>
						<input id='username' class="form-control" type="text" name="username" value="" placeholder="Username / EmailID / Mobile no.">
					</div>
					<div class="form-group">
				    <label for="password"></label>	
						<input id='password' class="form-control" type="password" name="password" value="" placeholder="Password">
					</div>
					<div class="form-group">
				    <label for="type"></label>
						<label class="radio-inline">
							<input name="type" id="biller_signin" type="radio" value="biller">Merchant
						</label>
						<label class="radio-inline">
							<input name="type" id="customer_signin" type="radio" value="customer">Customer
						</label>
						<label class="radio-inline">
							<input name="type" id="admin_signin" type="radio" value="admin" checked>Staff/Admin
						</label>
						<input id='form_type' class="form-control" type="hidden" name="form" value="signin">
					</div>
					<button type="" id='submit_signin' class='btn btn-danger btn-lg'>Submit</button>
				</form>
			</div>
		</div>
	</div>
{% endblock body_content %}

{% block java_scripts %}
	  <script>
    	$(document).ready(function(){
    		
/*      	$('#biller_signin').click(function(event) {
    			if ($('#biller_signin').is(':checked')){
        		$('#signin #signin_type').val('biller');
        	}
        	else {
        		$('#signin #signin_type').val('customer');
        	}
      	});

      	$('#biller_signup').click(function(event) {
	        if ($('#biller_signup').is(':checked')){
		        $('#signup #signup_type').val('biller');
		      }
		      else {
		        $('#signup #signup_type').val('customer');
		      }
		    });
*/
      	$('#submit_signin').click(function(event) {
					event.preventDefault();
        	$("#signin #submit_signin").button('loading');
        	$('#signin_form').submit();
      	});

      	$('#submit_signup').click(function(event) {
					event.preventDefault();
      		var password = $('#passcode').val();
      		var confirm_password = $('#confirm_passcode').val();
      		if (password == confirm_password) {
	      		$("#signup #submit_signup").button('loading');	
        		$('#signup_form').submit();
      		}
      		else {
    				$('#passcode').val('');
      			$('#confirm_passcode').val('');
      		}
      	});
    	
    	});
  	</script>
{% endblock java_scripts %}
