{% extends 'base.html' %}
{% block head_title %} MyWallet Admin {% endblock head_title %}
{% block body_content %}
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h4>Balance: {{ mywallet }}</h4></div>
	</div>
	{% if user_type == 'customer' %}
  	<button type="button" class="btn btn-danger" id="pay">Pay Bills</button>
  	<button type="button" class="btn btn-primary" id="load">Add Amount</button>
  	<button type="button" class="btn btn-danger" id="transfer">Transfer Amount</button>
	{% elif user_type == 'biller' %}
  	<button type="button" class="btn btn-success" id="unload">Unload Amount</button>
	{% endif %}
	<h3>Transactions</h3>
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h4>From</h4></div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h4>To</h4></div>
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h4>Amount</h4></div>
  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h4>Notes</h4></div>
	</div>
	{% for txn in txns %}
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h5>{{ txn.from_user.user.username }}</h5></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h5>{{ txn.to_user.user.username }}</h5></div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h5>{{ txn.amount }}</h5></div>
	  	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><h5>{{ txn.note }}</h5></div>
		</div>
	{% endfor %}

	<div id="txn-modal" class="modal fade" role="dialog">
  	<div class="modal-dialog">
	    <div class="modal-content">
  	    <div class="modal-header">
    	    <button type="button" class="close" data-dismiss="modal">&times;</button>
      	  <h4 class="modal-title">Transaction</h4>
      	</div>
      	<div class="modal-body">
	      	{% csrf_token %}
					<form role="form" action="" method="post" accept-charset="utf-8" id='txn_form'>
					</form>
      	</div>
      	<div class="modal-footer">
      		<button type="button" class="btn btn-primary" id="submit">Submit</button>
      	</div>
    	</div>
  	</div>
	</div>

{% endblock body_content %}
{% block java_scripts %}
	<script type="text/javascript">
    $(document).ready(function(){
			
    	$('#submit').click(function(event) {
    		var data = $( "form#txn_form" ).serializeArray();
    		console.log(data);
				$.ajax({
		      url: "{% url 'transactions' user.id %}",
	        type: 'POST',
          data: data,
	        dataType: 'json',
	        context: this,
	        success: function(data) {
	        	console.log(data);
			      location.reload();
	        },
	        error: function() {
	          console.log("error");
			      $("#txn-modal").modal('hide');
	        }
	      });
    	});


			$('#unload').click(function(e){

				var type = this.id;
				$.ajax({
	        url: "{% url 'user' user.id %}",
	        type: 'GET',
	        dataType: 'json',
	        context: this,
	        success: function(result){
	        	console.log(result);
	        	$('#txn_form').empty();
						$('#txn_form').append('<div class="form-group"><label for="amount">Amount</label><div class="row"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input id="amount" class="form-control" type="number" name="amount" placeholder="Enter Amount" value="' + result.wallet + '"></div></div></div><div class="form-group"><label for="note">Note</label><div class="row"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input id="note" class="form-control" type="text" name="note" placeholder="Enter note (optional)" value=""></div></div></div><div class="form-group"><label for="type"></label><input id="type" class="form-control" type="hidden" name="type" value="' + type + '"></div></div></div>');
			      $("#txn-modal").modal({
			          backdrop: 'static',
			          keyboard: true,
			          show: true
			      });
	        },
	        error: function(){
	          console.log("error");
					  $("#edit-profile-modal").modal('hide');
	        }
	      });

			});

			$('#pay').click(function(e){

				var type = this.id;
				$.ajax({
	        url: "{% url 'user' user.id %}",
	        type: 'GET',
	        dataType: 'json',
	        context: this,
	        success: function(result){
	        	console.log(result);
	        	$('#txn_form').empty();
						var billers; 
						$.ajax({
	        		url: "{% url 'billers' %}",
	        		type: 'GET',
	        		dataType: 'json',
	        		context: this,
	        		success: function(result){
	        			console.log(result);
	        			billers = result;
	        		},
			        error: function(){
			        	billers = []
			        }
			      });
				    console.log(billers);
				    var sel = '<div id="" class="form-group"><label for="biller">Pay bills for</label><select class="form-control" id="biller">'
    '<option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
  </select>
</div>'


/*						$('#txn_form').append('<div class="form-group"><label for="amount">Amount</label><div class="row"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input id="amount" class="form-control" type="number" name="amount" placeholder="Enter Amount" value="' + result.wallet + '"></div></div></div><div class="form-group"><label for="note">Note</label><div class="row"><div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><input id="note" class="form-control" type="text" name="note" placeholder="Enter note (optional)" value=""></div></div></div><div class="form-group"><label for="type"></label><input id="type" class="form-control" type="hidden" name="type" value="' + type + '"></div></div></div>');
			      $("#txn-modal").modal({
			          backdrop: 'static',
			          keyboard: true,
			          show: true
			      });*/
	        },
	        error: function(){
	          console.log("error");
					  $("#edit-profile-modal").modal('hide');
	        }
	      });

			});
			


			/*$('#change-password').click(function(e){
	      e.preventDefault();
    		var password = $('#passcode').val();
    		var confirm_password = $('#confirm_passcode').val();
    		if (password == confirm_password) {
		      $.ajax({
		        url: "{% url 'edit_profile' user.id %}",
		        type: 'PUT',
	          data: $( "form#change_password_form" ).serializeArray(),
		        dataType: 'json',
		        context: this,
		        success: function(data) {
		        	console.log(data);
			      	$("#edit-profile-modal").modal('hide');
		        },
		        error: function() {
		          console.log("error");
			      	$("#edit-profile-modal").modal('hide');
		        }
		      });
		    }
		    else {
  				$('#passcode').val('');
    			$('#confirm_passcode').val('');
      	}
	    });*/
	  
	  });
	</script>
{% endblock java_scripts %}
